/* Estilo da página */
.custom-container {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Adiciona uma coluna flexível */
}

/* Estilo dos botões */
.custom-buttons-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os botões quebrem para a linha abaixo */
  justify-content: center; /* Centraliza os botões */
}

.custom-button {
  background-color: #153749;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 15px; /* Espaçamento horizontal de 5px entre cada botão */
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .60); /* Adicionando uma sombra esfumaçada */
  max-width: 200px; /* Define a largura máxima dos botões */
  width: auto; /* Faz com que os botões ajustem automaticamente a largura */
  outline: none; /* Remove o contorno */
}

.custom-button:hover {
  background-color: #F49920; /* Muda a cor do botão para laranja ao passar o mouse */
}

/* Estilo dos botões quando clicados */
.custom-button.clicked {
  background-color: #F49920;
}

/* Estilo do conteúdo */
.custom-content {
  display: flex;
  max-width: 90%; /* Limita a largura do conteúdo */
  text-align: left; /* Alinha o texto à esquerda */
  align-items: center; /* Alinha os itens verticalmente */
  justify-content: space-around; /* Distribui os elementos horizontalmente */
}

/* Estilo do Texto */
.text1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 100%; /* Ajusta a largura para ocupar toda a largura do container */
  padding: 0 20px; /* Adiciona um espaçamento interno */
  margin-top: -200px;
}

.engrenagem {
  width: 35px;
  margin-right: 10px;
  margin-top: -140px;
}

.acesso img {
  max-width: 90%; /* Ajusta a largura da imagem para ocupar todo o espaço disponível */
  height: auto;
  margin-left: 100px;
}
.text1 h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.acesso p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 50px;
  margin-left: 100px;
}

.saiba-mais {
  margin-top: 20px; /* Ajuste conforme necessário */
  text-align: center; /* Centraliza o conteúdo */
}

.saiba-mais img {
  width: 100px;
}

.saiba-mais button {
  background-color: #153749;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .60);
  max-width: 200px;
  width: auto;
  outline: none;
  margin-left: 17%;
}

.saiba-mais button:hover {
  background-color: #F49920;
}

/* Media queries para ajustar o layout em telas menores */
@media screen and (max-width: 768px) {
  .custom-content {
    flex-direction: column; /* Ajusta a direção para coluna em telas menores */
    text-align: center; /* Centraliza o texto */
  }

  .custom-content .text {
    padding: 0; /* Remove o padding */
  }

  .custom-content img {
    margin: 10px 0; /* Adiciona espaço em torno da imagem */
  }
}
