/* =========================Estilo Global===================== */
.custom-container {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.custom-content {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

/* ========================Estilo dos Botões====================== */
.custom-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-button {
  background-color: #153749;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .60);
  max-width: 200px;
  width: auto;
  outline: none;
}

.custom-button:hover,
.custom-button.clicked {
  background-color: #F49920;
}

/* =======================Estilo do Texto Principal====================== */
.text1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  padding: 0 40px 230px;
}

.text1 h1 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #0a212c;
  text-align: left; /* Alinha o título à esquerda */
}

.negritos {
  color: #0a212c;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.destaque {
  color: #F49920;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

#text-principal {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* =====================Estilo da Engrenagem===================== */
.engrenagem,
.engrenagem-mesa,
.engrenagem-comanda {
  width: 35px;
  margin-right: 10px;
  margin-left: 50px;
}

.engrenagem {
  margin-bottom: 160px;
}

.engrenagem-mesa,
.engrenagem-comanda {
  margin-bottom: 150px;
}

.vertical-line {
  width: 1px;
  height: 150px;
  background-color: #000;
  margin-top: -150px;
}

/* =====================Imagem do Sistema===================== */
.acesso img {
  max-width: 80%;
  height: auto;
  margin-left: 140px;
}

/* =====================Ajuste de Texto===================== */
.acesso p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 50px;
  margin-left: 140px;
}

/* =====================Saiba Mais===================== */
.saiba-mais {
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.saiba-mais img {
  width: 100px;
}

.saiba-mais button {
  background-color: #153749;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .60);
  max-width: 200px;
  width: auto;
  outline: none;
  margin-left: 17%;
}

.saiba-mais button:hover {
  background-color: #F49920;
}

/* =====================Container Pai===================== */
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 350px;
  width: 70%;
  padding: 0px 0px 200px;
  margin-left: 5%;
  position: absolute;
}

.lista {
  margin-right: 10px;
}

.lista h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  padding-top: 100px;
  margin: 30px;
}

.lista ul {
  list-style-type: none;
  padding: 0;
  margin: 30px;
}

.lista li img {
  vertical-align: top;
  width: 20px;
}

.lista ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 15px;
  font-style: normal;
  margin-top: 10px;
}

/* =====================Lista PDV===================== */
.lista-pdv ul {
  list-style-type: none;
  padding: 0;
  padding-top: 100px;
}

.lista-pdv li img {
  vertical-align: top;
  width: 20px;
}

.lista-pdv ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 15px;
  font-style: normal;
  margin-top: 5px;
}

/* =====================Texto PDV===================== */
#texto-pdv {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-right: 1000px;
}

/* =====================Tela Mesa===================== */
.text1 button {
  background-color: #F39716;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .60);
  max-width: 200px;
  width: auto;
  outline: none;
  margin-top: 20px;
}

.tela3 {
  width: 80%;
}

/*================================= Tela Delivery =====================*/
.lista-delivery ul {
  list-style-type: none;
  padding: 0;
  padding-top: 10px;
}

.lista-delivery li img {
  vertical-align: top;
  width: 20px;
}

.lista-delivery ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 15px;
  font-style: normal;
  margin-top: 5px;
}

/*================================= Slide Delivery =====================*/
section.slider {
  margin: auto;
  width: 80%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;
}

.slider-content {
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input,
.img-mobile {
  display: none;
}

.slide-box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.slide-box img {
  width: 100%;
}

.nav-manual,
.nav-auto {
  position: absolute;
  width: 100%;
  margin-top: 24%;
  display: flex;
  margin-left: 17%;
}

.nav-manual .manual-btn,
.nav-auto div {
  border: 2px solid #F39716;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
  margin-right: 10px;
}

.nav-manual .manual-btn:hover {
  background-color: #F39716;
}

#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3 {
  background-color: #F39716;
}

#vendas1:checked ~ .nav-auto .auto-btn1,
#vendas2:checked ~ .nav-auto .auto-btn2{
  background-color: #F39716;
}

#vendas2:checked ~ .primeiro {
  margin-left: -25%;
}

#vendas3:checked ~ .primeiro {
  margin-left: -50%;
}

#radio2:checked ~ .primeiro {
  margin-left: -25%;
}

#radio3:checked ~ .primeiro {
  margin-left: -50%;
}


/* =====================Media Queries===================== */
@media screen and (max-width: 1024px) {
  .custom-content {
    flex-direction: column;
    text-align: center;
  }

  .text1 {
    padding: 0 20px 50px;
    text-align: left; /* Alinha o texto principal à esquerda */
  }

  .text1 h1 {
    text-align: left; /* Alinha o título à esquerda */
  }

  .engrenagem {
    margin-bottom: 20px;
  }

  .acesso img,
  .tela3 {
    margin-left: 0;
    max-width: 100%;
  }

  .acesso p {
    margin-left: 0;
    text-align: left; /* Alinha o parágrafo à esquerda */
  }

  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 90%;
    padding: 0;
    margin-left: 0;
    position: relative;
  }

  .lista {
    margin-bottom: 20px;
    margin-right: 0;
    text-align: left; /* Alinha o texto da lista à esquerda */
  }

  .vertical-line {
    display: none;
  }

  .engrenagem,
  .engrenagem-mesa,
  .engrenagem-comanda {
    margin: 20px auto;
  }

  .custom-buttons-container {
    flex-direction: column;
    align-items: center;
  }

  .custom-button {
    margin: 10px 0;
  }

  .saiba-mais button {
    margin-left: 0;
  }

  .lista h2 {
    text-align: left; /* Alinha o título da lista à esquerda */
  }

  .lista ul li {
    text-align: left; /* Alinha os itens da lista à esquerda */
  }

  .lista-pdv ul li {
    text-align: left; /* Alinha os itens da lista PDV à esquerda */
  }

  .lista-delivery ul li {
    text-align: left; /* Alinha os itens da lista delivery à esquerda */
  }
}
