/* Estilo da página */
.custom-container {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Estilo dos botões */
.custom-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-button {
  background-color: #153749;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .60);
  max-width: 200px;
  width: auto;
  outline: none;
}

.custom-button:hover {
  background-color: #F49920;
}

.custom-button.clicked {
  background-color: #F49920;
}

/* Estilo do conteúdo */
.custom-content {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}


/* Estilo do Texto Principal (Gerencia todos...) */
.text1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  padding: 0 20px 230px;
}
.text1 h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Engrenagem na esquerda */
.engrenagem {
  width: 35px;
  margin-right: 10px;
  margin-bottom: 170px;
}

/* Imagem do sitema (direita) */
.acesso img {
  max-width: 90%;
  height: auto;
  margin-left: 100px;
}

/* Ajuste texto(Direita)*/
.acesso p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 50px;
  margin-left: 100px;
}

/* Saiba mais*/
.saiba-mais {
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.saiba-mais img {
  width: 100px;
}

/* botao saiba mais */
.saiba-mais button {
  background-color: #153749;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .60);
  max-width: 200px;
  width: auto;
  outline: none;
  margin-left: 17%;
}

.saiba-mais button:hover {
  background-color: #F49920;
}

/* Container PAI listas( Ferramentas, Funcionalidades, Soluções*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; 
  margin-top: 350px;
  width: 70%;
  padding: 0px 0px 200px;
  margin-left: 5%;
  position: absolute; 
}

.lista {
  margin-right: 20px;
}

.lista h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lista ul {
  list-style-type: none;
  padding: 0;
}
.lista li img {
  vertical-align: top;
  width: 20px;
}

.lista ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 15px;
  font-style: normal;
}


/* Media queries para ajustar o layout em telas menores */
@media screen and (max-width: 768px) {
  .custom-content {
    flex-direction: column;
    text-align: center;
  }

  .custom-content .text {
    padding: 0;
  }

  .custom-content img {
    margin: 10px 0;
  }

  .container {
    flex-direction: column;
    align-items: center;
    position: relative; /* Reseta o posicionamento absoluto */
    left: auto;
    top: auto;
  }

  .lista {
    margin-bottom: 20px;
  }
}
